@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

html {
  --COLOR_CORAL: #FF7B78;
  --COLOR_PALE_PINK: #EBD0CE;
  --COLOR_WHITE: #fbfbfb;
  --COLOR_GRAY: #EEEEEE;
  --COLOR_ROSE_GOLD: #E8C4B8;
  --COLOR_BLUE: #52708A;
  --COLOR_DARK: #24323D;
  background: var(--COLOR_GRAY);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fontWrap {
  font-family: 'Sora', sans-serif;
  background-color: var(--COLOR_GRAY);
}

.fullPageContainer{
  min-height: 100px;
  height: 100%;
  margin: auto;
  width: 1024px;
  background-color: var(--COLOR_GRAY);
}

#container {
  background-color: var(--COLOR_GRAY) !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.push-left {
  margin-right: auto;
}

.push-right {
  margin-left: auto;
}

/* homepage and login/register styling.
these styles are pre-login */

.homePageHeader {
  text-align: right;
  background: var(--COLOR_WHITE);
  /*background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 100%);*/
  display: flex;
  align-content: flex-start;
}

.tableWordBreak {
  word-break: break-word;
}

.homePageHeaderItem {
  padding: 0px 0 6px 8px;
  font-size: 48px;
  font-weight: bold;
  background-color: var(--COLOR_WHITE);
}

.loginRegHeaderItem {
  padding: 24px 0 0 0;
  font-size: 48px;
  font-weight: bold;
  background-color: var(--COLOR_WHITE);
}

.homePageBody {
  padding: 20px 10px;
  text-align: left;
  background-color: var(--COLOR_WHITE);
  font-size: 20px;
  width: 100%;
}

.homePageFooter{
  text-align: right;
  background: rgb(252,252,252);
  background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(255,255,255,1) 100%);
  padding: 20px 10px;
  display: flex;
}

.btn-homepage-header {
  background-color: rgba(0, 0, 255, 0);
  padding: 12px 32px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  border:none;
}

.btn-homepage-header-register {
  background-color: var(--COLOR_CORAL);
  color: white;
  padding: 12px 32px;
  text-align: center;
  border-radius: 4px;
}

.btn-form {
  margin: auto;
  height: 36px;
  width: 30%;
  /*text-align: left;*/
}

.loginRegPageHeader {
  width: 480px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background: var(--COLOR_WHITE);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 100%);
}

.loginRegForm {
  width: 420px;
  text-align: left;
  margin: auto;
}

.form-label {
  font-weight: bold;
  font-size: 14px;
}

.modal-content {
  background-color: var(--COLOR_WHITE) !important;
}

.formBox {
  background-color: var(--COLOR_WHITE);
  width: 480px;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 20px 0px 32px 0px;
}

.formBoxAddEvent {
  background-color: var(--COLOR_WHITE);
  text-align: left;
  border-color: var(--COLOR_WHITE);
  border-style: solid;
  border-width: 2px;
}

.formBoxAddWeight {
  background-color: var(--COLOR_WHITE);
  width: 380px;
  text-align: left;
  margin: 0px auto 0px auto;
  padding: 4px 0 4px 0;
}



.formTitle {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,245,1) 50%, rgba(230,236,255,1) 100%);
}

/* pet and main site styling.
these styles are post-login */

.mainPageHeaderBar {
  background: #000000;
  height: 44px
}

.mainPageHeader {
  text-align: center;
  background-color: rgba(200, 45, 40, 0);
  height: 30px;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.mainPageHeaderItem {
  color: white;
  background-color: rgba(0, 150, 40, 0);
  display: flex;
  align-items: center;
  padding: 4px 0 0 0;
}

.mainPageHeaderTitle {
  justify-content: left;
  color: white;
  vertical-align: middle;
  background-color: rgba(0, 150, 40, 0);
  margin-left: 15px;
}

.mainPageHeaderTitle a {
  text-decoration: none !important;
}

.box {
  display: flex;
  align-items: center;
  padding: 2px 0 0 0;
}

.petTitle {
  padding: 0 0 0 4px;
  font-weight: 100;
  font-size: 24px;
  color: var(--COLOR_WHITE);
}

.recsTitle {
  color: var(--COLOR_CORAL);
  font-weight: 600;
  font-size: 24px;
}

.btn-mainpage-header {
  color: var(--COLOR_WHITE);
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 16px;
  font-size: 16px;
  vertical-align: middle;
  border: none !important;
  outline: none !important;
}

.btn-mainpage-header:hover {
  color:  var(--COLOR_CORAL);
  transition: 0.1s;
}

.btn-mainpage-header:active {
  margin: 0;
  transition: 0.23s;
}

.hiddenForm {
  display: none;
}

.nav-tabs {
  margin-top: 10px;
}

.navProfBar {
  background: var(--COLOR_BLUE);
  vertical-align: middle;
  /*height: 56px; removed because of weird artifact under pet card when loading new component*/

  /*Below is for slider animation*/
  overflow-y: hidden;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.navProf {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 0px 0px 2px 0px;
  vertical-align: middle;
}

.petsAccentBar {
  background: var(--COLOR_BLUE);
  vertical-align: middle;
  height: 6px;
  /*Below is for slider animation*/
  overflow-y: hidden;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.petProfileCard {
  background-color: var(--COLOR_BLUE);
  text-align: left;
  color: var(--COLOR_WHITE);
  font-size: 14px;
  margin-top: 0px;
  border-color: #003da8;
  border-width: 0px;
  border-style: outset;
  border-radius: 0px;
}

.petProfileNavBar {
  background-color: var(--COLOR_BLUE);
  text-align: right;
  padding: 0px 0 2px 0;
  margin-top: 11px;
}

.petCardInfo {
  background-color: rgba(200, 100, 200, 0);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  margin-top: 9px;
}

.FadeIn {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 0.5s;
  -moz-animation: fadeIn ease 0.5s;
  -o-animation: fadeIn ease 0.5s;
  -ms-animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.mainPageHeaderBar {
  background: var(--COLOR_DARK);
  padding: 0px;
}

.mainPageHeader {
  text-align: center;
  background-color: var(--COLOR_DARK);
  height: 38px;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 2px 0px 2px 0px;
}

.btn-petprofile-nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
  border: none !important;
  outline: none !important;
  color: var(--COLOR_WHITE);
  transition: 0.23s;
}

.btn-petprofile-nav:active {
  margin: 0;
  transition: 0.1s;
}

.activeNav button, .btn-petprofile-nav:hover {
  color: var(--COLOR_CORAL);
}

.back-btn-petprofile-nav {
  background-color: var(--COLOR_CORAL);
  margin: 15px 4px;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: 400;
  
  border: none !important;
  outline: none !important;
  color: var(--COLOR_DARK);
  border-radius: 100px;

  transition: 0.23s;
}

.back-btn-petprofile-nav:hover {
  color: var(--COLOR_WHITE);
  background-color: var(--COLOR_DARK);
  transition: 0.23s;
  border-radius: 100px;
}

.petProfileBody {
  background: var(--COLOR_WHITE);
  padding: 10px;
  border-radius: 3px;
}

.petProfileWindow {
  border-style: solid;
  border-color: var(--COLOR_WHITE);
  border-width: 2px 1px 2px 1px;
}

.bigFont {
  font-size: 60px;
  font-weight: 600;
}

.lbsFont {
  color: var(--COLOR_DARK);
  font-weight: 4500;
  font-size: 40px;
}

.smallFont {
  font-size: 12px;
  font-weight: 600;
}

.shadowedBox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  background-color: var(--COLOR_WHITE);
}

.shadowedBoxPets {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
  background-color: var(--COLOR_WHITE);
  border: 1px solid var(--COLOR_GRAY);
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top-width: 0px;
  padding: 15px;
}

.currentWeightBox {
  text-align: center;
  padding: 80px 0 0 0;
  margin-bottom: 20px ;
  width: 300px ;
}

.weightTableBox {
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: 20px ;
  width: 670px;
}

.mainContent {
  margin: auto;
  position: relative;
  width: 1024px;
  padding: 14px 20px 10px 20px;
  background-color: var(--COLOR_GRAY);
}

.tableContainer {
  margin-top: 10px;
}

.nav-link {
  color: var(--COLOR_BLUE);
  font-weight: 500;
  transition: 0.1s;
}
.nav-link:hover {
  color: var(--COLOR_CORAL);
}

.nav-link.active {
  background-color: var(--COLOR_WHITE) !important;
  border-bottom-color: var(--COLOR_WHITE) !important;
  color: var(--COLOR_DARK);
}

.Icon {
  position: relative;
  top: -3px;
}

.Icon path {
  fill: var(--COLOR_DARK);
  transition: fill .15s ease-in-out !important;
}

.ProfileBtn {
  background-color: var(--COLOR_WHITE) !important;
  color: var(--COLOR_DARK) !important;
  border-color: var(--COLOR_DARK) !important;
}

.ProfileBtn:hover {
  background-color: var(--COLOR_DARK) !important;
  color: var(--COLOR_WHITE) !important;
  border-color: var(--COLOR_DARK) !important;
}

.ProfileBtn:hover svg path {
  fill: var(--COLOR_WHITE) !important;
}

.slider-close {
  max-height: 6px;
}

.slider-open {
  max-height: 60px;
}

.slider {
  animation: slideIn ease 0.5s;
  -webkit-animation: slideIn ease 0.5s;
  -moz-animation: slideIn ease 0.5s;
  -o-animation: slideIn ease 0.5s;
  -ms-animation: slideIn ease 0.5s;
}

@keyframes slideIn {
  0% {max-height: 6px;}
  100% {max-height: 60px;}
}

@-moz-keyframes slideIn {
  0% {max-height: 6px;}
  100% {max-height: 60px;}
}

@-webkit-keyframes slideIn {
  0% {max-height: 6px;}
  100% {max-height: 60px;}
}

@-o-keyframes slideIn {
  0% {max-height: 6px;}
  100% {max-height: 60px;}
}

@-ms-keyframes slideIn {
  0% {max-height: 6px;}
  100% {max-height: 60px;}
}

.slide-out {
  animation: slideOut ease 0.5s;
  -webkit-animation: slideOut ease 0.5s;
  -moz-animation: slideOut ease 0.5s;
  -o-animation: slideOut ease 0.5s;
}

@keyframes slideOut {
  0% {height: 60px;}
  100% {height: 6px;}
}

@-moz-keyframes slideOut {
  0% {height: 60px;}
  100% {height: 6px;}
}

@-webkit-keyframes slideOut {
  0% {height: 60px;}
  100% {height: 6px;}
}

@-o-keyframes slideOut {
  0% {height: 60px;}
  100% {height: 6px;}
}

@-ms-keyframes slideOut {
  0% {height: 60px;}
  100% {height: 6px;}
}

.FormSelect {
  width: 100%;
  margin-right: -50%;
  height: 40px;
}

.FormAddButton {
  display: inline-block;
  vertical-align: middle;
  padding: 2px 10px !important;
  text-align: center !important;
  background-color: var(--COLOR_WHITE) !important;
  color: var(--COLOR_DARK) !important;
  border-color: var(--COLOR_DARK) !important;
}

.FormAddButton:hover {
  background-color: var(--COLOR_DARK) !important;
  color: var(--COLOR_WHITE) !important;
  border-color: var(--COLOR_DARK) !important;
}

.FormAddButton:hover svg path {
  fill: var(--COLOR_WHITE) !important;
}

.FormAddButtonText {
  display: inline-block;
  vertical-align: middle;
  padding: 0px 0px 0px 4px;
}

.FormAddButtonIcon {
  display: inline-block;
  vertical-align: top;
  padding: 0px 2px 0px 4px;
  position: relative;
  top: -1px;
}

.FormAddButtonIcon svg path {
  fill: var(--COLOR_DARK);
  transition: fill .15s ease-in-out !important;
}

.AddButtonContainer {
  width: 100%;
  margin-right: -50%;
  height: 40px;
  text-align: right;
  padding-top: 2px;
  padding-right: 8px;
}
