@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

html {
  --COLOR_CORAL: #FF9389;
  --COLOR_PALE_PINK: #EBD0CE;
  --COLOR_CREAM: #F7ECEB;
  --COLOR_WHITE: #F0F1F7;
  --COLOR_GRAY: #DADBE6;
  background: var(--COLOR_GRAY);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Sora',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fontWrap {
  font-family: 'Sora', sans-serif;
  
}

.fullPageContainer {
  height: 100%;
  margin: auto;
  width: 1024px;
  
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.push-left {
  margin-right: auto;
}

.push-right {
  margin-left: auto;
}

/* homepage and login/register styling.
these styles are pre-login */

.homePageHeader {
  text-align: right;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 100%);
  display: flex;
  align-content: flex-start;
  justify-content: top;
}

.homePageHeaderItem {
  padding: 10px;
  font-size: 48px;
  font-weight: bold;
}

.homePageBody {
  padding: 20px 10px;
  text-align: left;
  background-color: white;
  font-size: 20px;
  width: 100%;
}

.homePageFooter{
  text-align: right;
  background: rgb(252,252,252);
  background: linear-gradient(0deg, rgba(252,252,252,1) 0%, rgba(255,255,255,1) 100%);
  padding: 20px 10px;
  display: flex;
}

.btn-homepage-header {
  background-color: rgba(0, 0, 255, 0);
  padding: 12px 32px;
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  border:none;
}

.btn-homepage-header-register {
  background-color: var(--COLOR_CORAL);
  color: white;
  padding: 12px 32px;
  text-align: center;
  border-radius: 4px;
}

.btn-form {
  margin: auto;
  height: 36px;
  width: 30%;
  /*text-align: left;*/
}

.loginRegPageHeader {
  width: 480px;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(252,252,252,1) 100%);
}

.loginRegForm {
  width: 420px;
  text-align: left;
  margin: auto;
}

.form-label {
  font-weight: bold;
  font-size: 14px;
}

.formBox {
  background-color: white;
  width: 480px;
  text-align: center;
  margin: 0px auto 0px auto;
  padding: 20px 0px 32px 0px;
}

.formBoxAddEvent {
  background-color: white;
  text-align: left;
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.formBoxAddWeight {
  background-color: white;
  width: 380px;
  text-align: left;
  margin: 0px auto 0px auto;
  padding: 4px 0 4px 0;
}



.formTitle {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 0px 40px 0px;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(232,234,245,1) 50%, rgba(230,236,255,1) 100%);
}

/* pet and main site styling.
these styles are post-login */

.mainPageHeaderBar {
  background: black;
  padding: 0px;
  border-color: rgb(19, 62, 172);
  border-bottom-style: solid;
  border-width: 0px;
}

.mainPageHeader {
  text-align: center;
  background-color: rgba(200, 45, 40, 0);
  height: 38px;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.mainPageHeaderItem {
  color: white;
  vertical-align: middle;
  background-color: rgba(0, 150, 40, 0);
}

.mainPageHeaderTitle {
  justify-content: left;
  color: white;
  background-color: rgba(0, 150, 40, 0);
}

.petTitle {
  font-weight: 100;
  font-size: 23px;
}

.recsTitle {
  color: #3d72db;
  font-weight: 600;
  font-size: 24px;
}

.btn-mainpage-header {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 16px;
  font-size: 16px;
  vertical-align: middle;
  border: none !important;
  outline: none !important;
}

.btn-mainpage-header:hover {
  color:  #3d72db;
  transition: 0.1s;
}

.btn-mainpage-header:active {
  margin: 0;
  transition: 0.23s;
}

.navProfBar {
  background: #3d72db;
  vertical-align: middle;
  height: 56px;
}

.navProf {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 0px 0px 2px 0px;
  vertical-align: middle;
}

.petsAccentBar {
  background: #3d72db;
  vertical-align: middle;
  height: 6px;
}

.petProfileCard {
  background-color: rgba(0, 255, 200, 0);
  text-align: left;
  color: white;
  font-size: 14px;
  margin-top: 0px;
  border-color: #003da8;
  border-width: 0px;
  border-style: outset;
  border-radius: 0px;
}

.petProfileNavBar {
  background-color: rgba(200, 100, 200, 0);
  text-align: right;
  padding: 0px 0 2px 0;
  margin-top: 11px;
}

.petCardInfo {
  background-color: rgba(200, 100, 200, 0);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  margin-top: 18px;
}

.mainPageHeaderBar {
  background: black;
  padding: 0px;
}

.mainPageHeader {
  text-align: center;
  background-color: rgba(200, 45, 40, 0);
  height: 38px;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 2px 0px 2px 0px;
}

.btn-petprofile-nav {
  background-color: rgba(0, 0, 0, 0);
  padding: 6px 12px;
  font-size: 15px;
  font-weight: 400;
  vertical-align: middle;
  border: none !important;
  outline: none !important;
  color: white;
}

.btn-petprofile-nav:hover {
  color: black;
  transition: 0.23s;
}

.btn-petprofile-nav:active {
  margin: 0;
  transition: 0.1s;
}

.back-btn-petprofile-nav {
  background-color: rgba(57, 97, 207, 100);
  margin: 15px 4px;
  width: 28px;
  height: 28px;
  font-size: 18px;
  font-weight: 400;
  
  border: none !important;
  outline: none !important;
  color: white;
  border-radius: 100px;

  transition: 0.23s;
}

.back-btn-petprofile-nav:hover {
  color: white;
  background-color: #3d72db;
  transition: 0.23s;
  border-radius: 100px;
}

.petProfileBody {
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 2px 1px;
  background: white;
  height: 400px;
  padding: 10px;
}

.petProfileWindow {
  border-style: solid;
  border-color: white;
  border-width: 2px 1px 2px 1px;
}

.bigFont {
  font-size: 72px;
  font-weight: 600;
}

.smallFont {
  font-size: 12x;
}

.shadowedBox {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.currentWeightBox {
  text-align: center;
  padding: 80px 0 0 0;
  margin-bottom: 20px ;
  width: 300px ;
}

.weightTableBox {
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: 20px ;
  width: 670px;
}


.mainContent {
  margin: auto;
  position: relative;
  width: 1024px;
  padding: 14px 20px 10px 20px;
  background-color: rgb(255, 255, 255);
}
