#PetContainer {
    width: 135px;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    display: inline-block;
}

#CircleShape {
    width: 135px;
    height: 135px;
    border-radius: 135px;
    border-style: solid;
    border-color: gray;
}

.ImageCircle {

    width: 129px;
    height: 129px;
    border-radius: 129px;
    object-fit: cover;
    position: relative;
    left: 0px;
}

#NameText {
    text-align: center;
    font-weight: 700px;
    font-size: 23;
}

#PetText {
    text-align: center;
    font-weight: 700px;
    font-size: 23;
    padding-top: 45px;
    color: gray;
}

#PetLink {
    text-decoration: none;
    color: gray;
}