.NameText {
    text-align: center;
    font-weight: 700px;
    font-size: 23;
}

#PetLink {
    text-decoration: none;
    color: gray;
    display: inline-block;
}

#PetContainer {
    width: 135px;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;

}

#PetProfileContainer {
    width: 135px;
    height: 135px;
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 12.5px;
    margin-right: 12.5px;

}

#PetAboutContainer {
    width: 135px;
    height: 135px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#PetCircle, #PetProfileCircle {
    width: 135px;
    height: 135px;
    border-radius: 135px;
    border-style: solid;
    border-color: gray;
    position: relative;
    transition: opacity .4s;
    
}

#PetCircle:hover {
    /*opacity: 50%;
    transition: opacity .4s;*/
} 

.PetImage {

    width: 129px;
    height: 129px;
    border-radius: 129px;
    object-fit: cover;
    position: relative;
    
    left: 0;
}

.PetCardImage {

    width: 40px;
    height: 40px;
    border-radius: 40px;
    object-fit: cover;
    position: relative;
    
    left: 0;
}

#PetCardProfileContainer {
    width: 22px;
    height: 0px;
    margin-top: 6px;
}

#PetCardCircle {
    width: 42px;
    height: 42px;
    border-radius: 42px;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    background-color: white;
    position: relative;
    transition: opacity .4s;
}

#PetText {
    text-align: center;
    font-weight: 700px;
    font-size: 23;
    padding-top: 45px;
    color: gray;
}

#AddPetContainer {
    width: 135px;
    height: 170px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    display: inline-block;
}

#AddPetCircle {
    width: 135px;
    height: 135px;
    border-radius: 135px;
    border-style: solid;
    border-color: gray;
    position: relative;

    transition: border-color .4s;
    transition: background-color .4s;
    
}

#AddPetCircle:hover {
    background-color: lightgray;
    border-color: lightgray;

    transition: border-color .4s;
    transition: background-color .4s;
} 

.AddPetImage {

    width: 129px;
    height: 129px;
    border-radius: 129px;
    object-fit: cover;
    position: relative;
}

#AddPetText {
    margin: 0;
    position: relative;
    top: -61%;
    left: 50%;
    font-weight: bold;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#PlusIcon {
    position: absolute;
    left: 50px;
}