.custom-file-input ~ .custom-file-label::after {
    content: "Upload Image";
    
}
.custom-file {
    width: 130px;
}
.custom-file-input {
    max-height: 0;
    display: 'none';
}

.custom-file-label {
    width: 130px;
    border: none;
    left: 4px;

}

.custom-file-label::after {
    width: 130px;
}

#FileUploadSave {
    margin-bottom: 10px;
}

#UploadButtons {
    text-align: center;
}

#RecordSelect {
    padding: 5px;
}

#RecordButtons {
    text-align: left;
    
}